<h1>Iniciar sesión</h1>

<form [formGroup]="loginForm" class="d-flex flex-column align-items-center">
  <div>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    (click)="login()"
    style="background: linear-gradient(#989a9c, #4e4949)"
  >
    Iniciar sesión
  </button>
</form>
