<main class="d-flex justify-content-center align-items-center background-image">
  <mat-card>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</main>

<!-- <main>
  <div class="background-video">
    <video autoplay loop muted>
      <source src="../../assets/video/MarvelVideo.mp4" type="video/mp4" />
      Tu navegador no soporta el elemento de video.
    </video>
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</main> -->
