<app-carousel [images]="slides"></app-carousel>
<div class="row justify-content-center">
  <div class="col-2" *ngFor="let metric of metrics">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Cantidad de {{ metric.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row">
          <div class="temp">
            <span class="big-text"
              ><strong>{{ metric.quantity | async }}</strong></span
            >
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="custom-button" (click)="get(metric.entity)">
          <span class="button-text">Ver {{ metric.name }} </span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
