mat-card {
  margin: 10px;
  background-color: #3b3b3b;
}

mat-card-title {
  color: white;
}

mat-card-actions {
  align-items: center;
  justify-content: right;
  margin-right: 10px;
}

.custom-button {
  background-color: #5c5c5c;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 50%;
    padding: 10px;
  }
  height: 10vh;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  border-radius: 10px;
}

.temp {
  background-color: #5c5c5c;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-text {
  font-size: 30px;
  color: white;
}

.principal {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
