.userInfo {
  display: flex;
  align-items: start;
}

.userInfo .icon {
  margin-right: 8px;
}

.userInfo .text {
  display: flex;
  flex-direction: column;
}

.userInfo strong {
  margin-bottom: 4px;
}

.userInfo p {
  margin: 0;
}

.personIcon {
  font-size: 30px;
  height: 50px;
  width: 30px;
}
