<div class="userInfo">
  <div class="icon">
    <mat-icon class="personIcon">person</mat-icon>
  </div>
  <div class="text">
    <p>
      <strong>{{ fullName$ | async }}</strong>
    </p>
    <p>{{ email$ | async }}</p>
  </div>
</div>
<mat-nav-list>
  <mat-list-item
    *ngFor="let item of navItems"
    routerLinkActive
    #link="routerLinkActive"
    [activated]="link.isActive"
    [routerLink]="item.route"
  >
    <mat-icon class="iconItem" matListItemIcon style="color: white;">{{ item.icon }}</mat-icon>
    <a>{{ item.label }}</a>
  </mat-list-item>
</mat-nav-list>
