.userInfo {
  display: flex;
  align-items: start;
  color: white;
}

.userInfo .icon {
  margin-right: 8px;
  color: white;
}

.userInfo .text {
  display: flex;
  flex-direction: column;
}

.userInfo strong {
  margin-bottom: 4px;
}

.userInfo p {
  margin: 0;
}

.personIcon {
  font-size: 30px;
  height: 50px;
  width: 30px;
}

a {
  color: white;
}

a:hover {
  color: #8f8f8f;
}

.iconItem {
  color: white;
}

.iconItem:hover {
  color: #8f8f8f;
}
