<mat-toolbar class="flex justify-content-between">
  <button
    (click)="toggleSidebar.emit()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img
    src="assets/img/logos/LogoAvengersAcademy.png"
    width="100px"
    height="58px"
  />
  <span class="spacer"> </span>
  <button
    mat-raised-button
    style="background-color: #5d5d5d"
    (click)="logout()"
    color="accent"
  >
    Cerrar sesión
  </button>
</mat-toolbar>
