<div class="row">
  <mat-tab-group dynamicHeight>
    <mat-tab class="tab">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        Datos Personales
      </ng-template>
      <div class="row-tab">
        <div class="row">
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput value="{{ student?.name }}" readonly />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput value="{{ student?.lastname }}" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput value="{{ student?.dni }}" readonly />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Fecha Nacimiento</mat-label>
            <input
              matInput
              value="{{ student?.birthdate | date : 'dd/MM/yyyy' }}"
              readonly
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field
            class="w-100"
            appearance="outline"
            readonly
            *ngIf="student"
          >
            <mat-label>Género</mat-label>
            <mat-select [(value)]="student.gender">
              <mat-option [value]="1"> Femenino </mat-option>
              <mat-option [value]="2"> Masculino </mat-option>
              <mat-option [value]="3"> X </mat-option>
              <mat-option [value]="4"> N/R </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">contacts</mat-icon>
        Datos de Contacto
      </ng-template>
      <div class="row-tab">
        <div class="row">
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput value="{{ student?.email }}" />
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput value="{{ student?.telephone }}" />
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="back">
  <button mat-mini-fab color="warn" (click)="onBack()">
    <mat-icon>close</mat-icon>
  </button>
</div>
