$color-gris-claro: #f2f2f2;
$color-gris-oscuro: #333333;
.example-container {
  height: 100vh;
  background: linear-gradient(to bottom, $color-gris-claro, $color-gris-oscuro);
}

.example-sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.example-card {
  max-width: 400px;
}
