<mat-card class="card">
  <img
    mat-card-image
    src="https://cdn-icons-png.flaticon.com/512/4963/4963030.png"
    style="height: 200px; width: 200px"
  />
  <mat-card-header>
    <mat-card-title>Acceso Denegado</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>Lo siento, no tienes permisos para acceder a esta página.</p>
    <p>
      Por favor, contacta al administrador del sistema si necesitas asistencia.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      routerLink="home"
      class="custom-button"
    >
      Ir a la Página de Inicio
    </button>
  </mat-card-actions>
</mat-card>
