.card {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  background-color: #f0f0f0;
}

mat-card-actions {
  justify-content: center;
  margin-top: 20px;
}

mat-card-header {
  justify-content: center;
}

.custom-button {
  background-color: #5c5c5c;
  color: white;
}
